@model HomePageVM
@{
    ViewData["Title"] = "Top Classes | Home";
    ViewData["Description"] = "Home Page";
    ViewData["Keywords"] = "";
}

@section Styles {
    <style>

        .clamp-text {
            display: -webkit-box;
            -webkit-line-clamp: 8; /* Limit to 8 lines */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

    </style>
}

<div class="test-series pt-10rem">
    <div class="alert-box">
        <div class="alert alert-orange alert-dismissible fade show" role="alert">
            <p class="text-center">
                India's Top Website for CA / CS / CMA Exams<br>Live Classes / Google Drive/ Pen Drive etc. at Best Prices !
            </p>
            <button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="container edublink-animated-shape">
        <div class="support">
            <p class="text-center text-white cardTest">
                Support : 983-683-2223 | 905-139-9390 &nbsp; &nbsp; <script class="me-5 md-me-0"></script>
                ( 10am to 6.30pm ) * Monday to Saturday
            </p>
        </div>
        <div class="row" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <div class="col-lg-3 mb-3 col-xs-6">
                <div class="cardTest">
                    <img src="~/images/icons/book2.gif" class="avatar" />
                    <h1 class="titleTest">CA</h1>
                    <div class="content d-flex align-items-center mt-4">
                        <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CA" class="edu-btn btn-secondary btn-small">View Course</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3 col-xs-6">
                <div class="cardTest">
                    <img src="~/images/icons/notebook.gif" class="avatar" />
                    <h1 class="titleTest">CMA</h1>
                    <div class="content d-flex align-items-center mt-4">
                        <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" class="edu-btn btn-secondary btn-small">View Course</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3 col-xs-6">
                <div class="cardTest">
                    <img src="~/images/icons/book.gif" class="avatar" />
                    <h1 class="titleTest">UPCOMING</h1>
                    <div class="content d-flex align-items-center mt-4">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Upcoming" class="edu-btn btn-secondary btn-small">View Course</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 mb-3 col-xs-6">
                <div class="cardTest">
                    <img src="~/images/icons/book3.gif" class="avatar" />
                    <h1 class="titleTest">KNOW YOUR MENTOR</h1>
                    <div class="content d-flex align-items-center mt-4">
                        <a asp-area="Customer" asp-controller="Home" asp-action="YourMentor" class="edu-btn btn-secondary btn-small">Click Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--test-series ends -->
<!-- slider ends -->
<!-- Start Categories Area  -->
<div class="features-area-2">
    <div class="container">
        <div class="features-grid-wrap">
            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject" src="~/images/animated-svg-icons/teachings.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title">Best Faculty </h5>
                </div>
            </div>
            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject" src="~/images/animated-svg-icons/latest-sylbus.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title">Latest Syllabus</h5>
                </div>
            </div>
            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon certificate">
                    <img class="svgInject" src="~/images/animated-svg-icons/gurantee.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title">Lowest prices guaranteed </h5>
                </div>
            </div>
            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject" src="~/images/animated-svg-icons/credit-card.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title">Secure and safe payments</h5>
                </div>
            </div>

            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject" src="~/images/animated-svg-icons/customer-service.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title">Prompt support and services</h5>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- End Categories Area  -->
<!-- video lecture starts -->
<div class="video-lecture section-gap-large">
    <div class="container edublink-animated-shape">
        <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <div class="d-flex align-items-center justify-content-between heading-bg">
                <div class="heading">CA Lectures</div>

                <div>
                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" class="btn btn-sm view-btn">View all</a>
                </div>
            </div>
        </div>
        <div class="slider slider-nav">


            @foreach (var item in Model.Products)
            {
                <div class="edu-course course-style-1 hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                                <img src="@item.ProductImageUrl" alt="Course Meta" />
                            </a>
                            <div class="time-top">
                                <span class="duration pink-gradient">
                                    @item.Category.CategoryName
                                </span>
                            </div>
                        </div>
                        <div class="content">
                            <h6 class="title">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"> @item.ProductName </a>
                            </h6>

                            <div class="mb-3">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="faculty_name">@item.Faculty.FacultyName</a>
                            </div>

                            <div class="course-price">
                                <span class="ori_price"><i class="fa-solid fa-indian-rupee-sign"></i>@item.DefaultDiscountPrice</span>
                                <span class="del-price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>@item.DefaultPrice
                                </span>
                                <span class="dis_price">
                                    <i class="fa-solid fa-indian-rupee-sign"></i>@(@item.DefaultPrice - @item.DefaultDiscountPrice)
                                    off
                                </span>
                            </div>
                            <div class="view-btn p-0">
                                <div class="content p-0">
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="edu-btn btn-small">View <i class="icon-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-hover-content-wrapper">
                    </div>

                    <div class="course-hover-content">
                        <div class="content">
                            <span class="course-level">Regular Batch</span>
                            <h6 class="title">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"> @Html.Raw(item.ProductDescription) </a>
                            </h6>
                            <a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" class="edu-btn btn-small mt-4">View <i class="icon-4"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- video lecture ends -->



<div class="testimonial-area-4 bg-lighten04" id="testimonial">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="testimonial-heading-area">
                    <div class="section-title section-left" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <span class="pre-title pre-textsecondary">Testimonials</span>
                        <h2 class="title">What Our Students Have To Say</h2>
                        <p>Some of our student's feedback</p>
                        <div class="slick-arrow-nav slick-custom-arrow"></div>
                    </div>
                </div>
                <div class="swiper-navigation">
                    <div class="swiper-btn-nxt">
                        <i class="icon-west"></i>
                    </div>
                    <div class="swiper-btn-prv">
                        <i class="icon-east"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="testimonial-activation-3 swiper">
                    <div class="swiper-wrapper">

                        @foreach (var item in Model.Testmonials)
                        {
                            if (item.Gender == "MAIL") // true = Mail
                            {
                                <div class="swiper-slide">
                                    <div class="testimonial-grid testimonial-style-3">
                                        <div class="thumbnail">
                                            <img class="w-50" src="~/images/testimonial/man.png" alt="Testimonial">
                                        </div>
                                        <div class="content">
                                            <div class="scroll-div">
                                                <p>
                                                    @item.Description 
                                                </p>
                                            </div>
                                            <div class="rating-icon">
                                                @{
                                                    for (int i = 0; i < item.Star; i++)
                                                    {
                                                        <i class="icon-23"></i>
                                                    }
                                                }
                                            </div>
                                            <h5 class="title">@item.Name</h5>
                                            <span class="subtitle">@item.Title</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            else

                            {
                                <div class="swiper-slide">
                                    <div class="testimonial-grid testimonial-style-3">
                                        <div class="thumbnail">
                                            <img class="w-50" src="~/images/testimonial/woman.png" alt="Testimonial">
                                        </div>
                                        <div class="content">
                                            <div class="scroll-div">
                                                <p>
                                                    @item.Description 
                                                </p>
                                            </div>
                                            <div class="rating-icon">
                                                @{
                                                    for (int i = 0; i < item.Star; i++)
                                                    {
                                                        <i class="icon-23"></i>
                                                    }
                                                }
                                            </div>
                                            <h5 class="title">@item.Name</h5>
                                            <span class="subtitle">@item.Title</span>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1 scene">
            <img data-depth="2" src="~/images/others/shape-18.png" alt="Shape">
        </li>
        <li class="shape-2">
            <img src="~/images/others/map-shape-3.png" alt="Shape">
        </li>
    </ul>
</div>



<!--=====================================-->
<!--=       Achivements Area Start      =-->
<!--=====================================-->
<!-- Start Achivements Area  -->
<div class="testimonial-area-2 section-gap-large">
    <div class="container edublink-animated-shape">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title section-center mb-3" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                    <h2 class="title">Our Achivements</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-activation swiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Achevements)
                {
                    <div class="swiper-slide">
                        <div class="testimonial-slide w-100">
                            <img src="@item.ImageUrl" alt="@item.SortedOrder">
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="event-view-all-btn sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="1200">
        <h6 class="view-text"> <a asp-area="Customer" asp-controller="Home" asp-action="Achivements" class="btn-transparent">View All <i class="icon-4"></i></a></h6>
    </div>
</div>
<!-- End Achivements Area  -->



<div class="edu-course-area course-area-3 section-gap-large">
    <div class="container">
        <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <!-- <span class="pre-title">our Blogs</span> -->
        </div>
        <div class="isotope-wrapper mt-4">
            <div class="isotop-button isotop-filter">

                @{
                    int j = 1;
                }
                @foreach (var item in Model.BlogCategoryViewModel)
                {
                    <button data-filter=".@item.CategoryName" class='@(j == 1 ? "is-checked" : "")'>
                        <span class="filter-text"> @item.CategoryName </span>
                    </button>
                    { j++; }
                }
            </div>
            <div class="row g-5 isotope-list">

                @foreach (var item in Model.BlogCategoryViewModel)
                {
                    foreach (var blog in item.Blogs)
                    {
                        <div class="col-lg-3 col-md-6 isotope-item @item.CategoryName">
                            <div class="edu-event event-style-1">
                                <div class="inner bx-shadow">
                                    <div class="thumbnail">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="BlogDetails" asp-route-id="@blog.Id">
                                            <img src="@blog.ImageUrl" alt="Blog Images" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="event-date">
                                            <span class="month">@blog.CreatedOn.ToString("mm")</span>
                                            <span class="month">@blog.CreatedOn.ToString("yyyy")</span>
                                        </div>
                                        <h5 class="title">
                                            <a asp-area="Customer" asp-controller="Home" asp-action="BlogDetails" asp-route-id="@blog.Id">@blog.Title</a>
                                        </h5>
                                        <div class="clamp-text">
                                            @Html.Raw(blog.Description)
                                        </div>

                                        <div class="read-more-btn">
                                            <a class="edu-btn btn-small" asp-area="Customer" asp-controller="Home" asp-action="BlogDetails" asp-route-id="@blog.Id">Learn More <i class="icon-4"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="event-view-all-btn" data-sal-delay="150" data-sal="slide-up" data-sal-duration="1200">
            <h6 class="view-text">
                For All Blogs
                <a asp-area="Customer" asp-controller="Home" asp-action="Blogs" class="btn-transparent">View All <i class="icon-4"></i></a>
            </h6>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <img class="shape-light" data-depth="2" src="~/images/others/map-shape-3.png" alt="Shape" />
            <img class="shape-dark" data-depth="2" src="~/images/others/3-Home-1.png" alt="Shape" />
        </li>
        <li class="shape-2">
            <img class="shape-light" data-depth="2" src="~/images/others/map-shape-3.png" alt="Shape" />
            <img class="shape-dark" data-depth="2" src="~/images/others/dark-map-shape-3.png" alt="Shape" />
        </li>
    </ul>
</div>