@model List<Faculty>


<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                    KNOW YOUR MENTOR
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center" data-sal="slide-up" data-sal-duration="800">
        <h3 class="title">KNOW YOUR MENTOR</h3>
    </div>
</div>

<!--=====================================-->
<!--=        Team Area Start            =-->
<!--=====================================-->
<div class="edu-team-details-area section-gap-equal">
    <div class="container">

        @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
        {
            var isEven = item.Index % 2 == 0;

            <div class="row row--40 instructor-gap align-items-center">
                @if (isEven)
                {
                    <div class="col-lg-4 data-sal-delay=100" data-sal="slide-up" data-sal-duration="800">
                        <div class="team-details-thumb">
                            <div class="thumbnail">
                                <img src="@item.Value.ImageUrl" alt="team">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 data-sal-delay=100" data-sal="slide-up" data-sal-duration="800">
                        <div class="team-details-content">
                            <div class="main-info">
                                <h3 class="title">@item.Value.FacultyName</h3>
                                @* <span class="designation">@item.Value.Designation</span> *@
                            </div>
                            <div class="bio-describe">
                                <p class="mb-1"> @Html.Raw(item.Value.Description)</p>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-8 data-sal-delay=100" data-sal="slide-up" data-sal-duration="800">
                        <div class="team-details-content">
                            <div class="main-info">
                                <h3 class="title">@item.Value.FacultyName</h3>
                                @* <span class="designation">@item.Value.Designation</span> *@
                            </div>
                            <div class="bio-describe">
                                <p class="mb-1">@Html.Raw(item.Value.Description)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 data-sal-delay=100" data-sal="slide-up" data-sal-duration="800">
                        <div class="team-details-thumb">
                            <div class="thumbnail">
                                <img src="@item.Value.ImageUrl" alt="team">
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

<!-- Start CTA Area  -->
<div class="home-one-cta-two cta-area-1">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="home-one-cta edu-cta-box">
                    <div class="inner">
                        <div class="content">
                            <span class="subtitle">Need to speak with us? Give us a ring at - </span>
                            <span><a href="tel:+919836832223" target="_blank"> 9836832223 / </a></span>
                            <span><a href="tel:+919051399390" target="_blank"> 9051399390</a></span>
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene">
                            <img data-depth="2" src="~/images/cta/shape-06.png" alt="shape" />
                        </li>
                        <li class="shape-02 scene">
                            <img data-depth="-2" src="~/images/cta/shape-12.png" alt="shape" />
                        </li>
                        <li class="shape-03 scene">
                            <img data-depth="-3" src="~/images/cta/shape-04.png" alt="shape" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
