@model ProductVM


<div class="edu-breadcrumb-area breadcrumb-style-3">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">
                     COURSES
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="edu-breadcrum-area mt-4">
    <div class="section-title section-center"
         data-sal="slide-up"
         data-sal-duration="800">
        <h3 class="title">COURSES</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="container-fluid">
            <div class="edu-sorting-area">
                <div class="sorting-right">
                    <h6 class="showing-text">
                        Showing <span>16</span> out of <span>35</span> results
                    </h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="edu-course-area course-area-1 section-gap-equal">
    <div class="container-fluid">
        <div class="row g-5 carts">
            <div class="col-lg-3 order-lg-1">
                <div class="course-sidebar-2">
                    <div class="edu-course-widget widget-category">
                        <div class="inner">
                            <h5 class="widget-title widget-toggle">Course</h5>
                            <div class="content">
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.CategoryList)
                                {
                                    <div class="edu-form-check">
                                        <input type="checkbox" id='@("cat-check" + i)'  />
                                        <label for='@("cat-check" + i)'> @item.CategoryName <span>(17)</span></label>
                                    </div>

                                    i++;

                                }
                                
                            </div>
                        </div>
                    </div>

                    <div class="edu-course-widget widget-instructor">
                        <div class="inner">
                            <h5 class="widget-title widget-toggle">Faculty</h5>
                            <div class="content">
                                @{
                                    int j = 0;
                                }
                                @foreach (var item in Model.FacultyList)
                                {
                                    
                                    <div class="edu-form-check">
                                        <input type="checkbox" id='@("inst-check" + j)' />
                                        <label for='@("inst-check" + j)'>@item.FacultyName</label>
                                    </div>
                                    j++;
                                }
                                
                            </div>
                        </div>
                    </div>


                    <div class="edu-course-widget widget-instructor">
                        <div class="inner">
                            <h5 class="widget-title widget-toggle">Subject</h5>
                            <div class="content">
                                @{
                                    int k = 0;
                                }
                                @foreach (var item in Model.SubjectList)
                                {

                                    <div class="edu-form-check">
                                        <input type="checkbox" id='@("sub-check" + k)' />
                                        <label for='@("sub-check" + k)'>@item.SubjectName</label>
                                    </div>
                                    k++;
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-pr--35 order-lg-2">
                <div class="row g-5">

                    @foreach (var item in Model.ProductList)
                    {
                        <div class="col-md-6 col-lg-4 col-xl-3"
                             data-sal-delay="100"
                             data-sal="slide-up"
                             data-sal-duration="800">
                            <div class="edu-course course-style-1 hover-button-bg-white">
                                <div class="inner">
                                    <div class="thumbnail">
                                        <a asp-area="Customer" asp-controller="Product" asp-action="Details">
                                            <img src="@item.ProductImageUrl"
                                                 alt="Course Meta" />
                                        </a>

                                        <div class="overlay"></div>
                                        <div class="button"><a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id" > View </a></div>
                                    </div>
                                    <div class="content">
                                        <h6 class="title">
                                            <a asp-area="Customer" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                                                @item.ProductName
                                            </a>
                                        </h6>

                                        <div class="d-flex align-items-center mb-3">
                                            <a href="#" class="faculty_name">@item.Faculty.FacultyName</a>
                                        </div>
                                        <div class="course-price">
                                           @*  <span class="ori_price">
                                                <i class="fa-solid fa-indian-rupee-sign"></i> @item.DiscountPrice
                                            </span> *@
                                            @* <span class="del-price">
                                                <i class="fa-solid fa-indian-rupee-sign"></i> @item.Price
                                            </span>
                                            <span class="dis_price">
                                                <i class="fa-solid fa-indian-rupee-sign"></i> @(item.Price - item.DiscountPrice)
                                                off
                                            </span> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
  
                </div>
            </div>
        </div>

        <ul class="edu-pagination">
            <li>
                <a href="#" aria-label="Previous"><i class="icon-west"></i></a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="more-next"><a href="#"></a></li>
            <li><a href="#">8</a></li>
            <li>
                <a href="#" aria-label="Next"><i class="icon-east"></i></a>
            </li>
        </ul>
    </div>
</div>