@using Blog.Models.VM
@model ProductPriceVM

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container" style="margin-top: 200px">
    <h2 class="text-center">Set Prices for Product</h2>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">General Info</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Price Combinations</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Add / Update Price Option</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (Model != null)
                    {
                        <input asp-for="ProductOption.Id" type="hidden" />
                        <input asp-for="ProductOption.ProductId" type="hidden" />
                    }
                    <div class="mb-3">
                        <label asp-for="ProductOption.ModeOfLecture" class="form-label"></label>
                        <input asp-for="ProductOption.ModeOfLecture" class="form-control" placeholder="Enter Mode of Lecture" />
                        <span class="text-danger" asp-validation-for="ProductOption.ModeOfLecture"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ProductOption.Validity" class="form-label"></label>
                        <textarea asp-for="ProductOption.Validity" class="form-control" id="description-editor" placeholder="Enter Validity"></textarea>
                        <span class="text-danger" asp-validation-for="ProductOption.Validity"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ProductOption.Views" class="form-label"></label>
                        <input asp-for="ProductOption.Views" class="form-control" placeholder="Enter Views" />
                        <span class="text-danger" asp-validation-for="ProductOption.Views"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ProductOption.Attempt" class="form-label"></label>
                        <input asp-for="ProductOption.Attempt" class="form-control" placeholder="Enter Attempt" />
                        <span class="text-danger" asp-validation-for="ProductOption.Attempt"></span>
                    </div>
                </div>
                <div class="ms-4">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>

        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form asp-action="SaveCombinations" method="post">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Mode of Lecture</th>
                            <th>Validity</th>
                            <th>Views</th>
                            <th>Attempt</th>
                            <th>Price</th>
                            <th>Discount Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Combinations.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="type" asp-for="Combinations[i].ModeOfLecture" hidden value="@Model.Combinations[i].ModeOfLecture" />
                                    @Model.Combinations[i].ModeOfLecture
                                </td>
                                <td>
                                    <input type="type" asp-for="Combinations[i].Validity" hidden value="@Model.Combinations[i].Validity" />
                                    @Model.Combinations[i].Validity
                                </td>
                                <td>
                                    <input type="type" asp-for="Combinations[i].Attempt" hidden value="@Model.Combinations[i].Attempt" />
                                    @Model.Combinations[i].Attempt
                                </td>
                                <td>
                                    <input type="type" asp-for="Combinations[i].Views" hidden value="@Model.Combinations[i].Views" />
                                    @Model.Combinations[i].Views
                                </td>
                                <td>
                                    <input type="hidden" name="combinations[@i].ProductId" value="@Model.Combinations[i].ProductId" />
                                    <input class="form-control" asp-for="Combinations[i].Price" />
                                </td>
                                <td>
                                    <input class="form-control" asp-for="Combinations[i].DiscountPrice" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>