@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model NavigationVM


<div class="edu-header header-style-1 header-fullwidth">
    <div class="header-top-bar d-none d-lg-block bg-lighten04">
        <div class="container-fluid">
            <div class="header-top">
                <div class="header-top-left">
                    <ul class="header-info">
                        <li>
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo" />
                                <p class="tagline">Study from the Best CA Gurus !</p>
                            </a>
                        </li>
                    </ul>
                </div>

                @* <div class="header-top-center wrap">
                <div class="search">
                <input type="text" class="searchTerm" placeholder="Search Here....." />
                <button type="submit" class="searchButton">
                <i class="fas fa-search"></i>
                </button>
                </div>
                </div> *@

                <div class="header-top-right">
                    <ul class="header-info">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @Model.UserName</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="Identity" asp-controller="Account" asp-action="Login"
                                   class="bc"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="Login">
                                    <i class="fas fa-sign-in-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Identity" asp-controller="Account" asp-action="Register"
                                   class="bc"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="Register">
                                    <i class="fas fa-user-plus"></i>
                                </a>
                            </li>
                        }
                        <li>
                            @* CArt ITEM *@
                            <a style="position: relative" asp-area="Customer" asp-controller="Cart" asp-action="Index"
                               class="bc"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="View Cart">
                                <i class="icon-3"></i>
                                <span style="width: 30px; height: 30px; position: absolute; background-color: black; display: flex; justify-content: center; align-items: center; top: -15px; right: -15px; border-radius: 50%; color: white; font-weight: bold;">
                                    @Model.TotalCart
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="edu-sticky-placeholder"></div>

    <div class="header-mainmenu">
        <div class="container-fluid">
            <div class="header-navbar">
                <div class="header-brand d-block d-lg-none">
                    <div class="logo">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                            <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo" />
                            <p class="tagline">Study from the Best CA Gurus !</p>
                        </a>
                    </div>
                </div>

                <div class="header-mainnav">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="has-droupdown">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CA">CA FINAL</a>
                                <ul class="mega-menu">
                                    <li>
                                        <h6 class="menu-title">CA FINAL</h6>

                                        <h6 class="menu-title">CA FINAL GROUP 1</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 4)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA FINAL GROUP 2</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 5)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA FINAL FAST TRACK</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 10)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CA" >CA INTER / FOUNDATION</a>
                                <ul class="mega-menu foundation">
                                    <li>
                                        <h6 class="menu-title">CA INTER</h6>

                                        <h6 class="menu-title">CA INTER GROUP 1</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 2)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA INTER GROUP 2</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 3)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA FOUNDATION</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if(item.CategoryId == 1)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CA&Course=1&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS">CS</a>
                                <ul class="submenu">
                                    <li>
                                        <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS">Foundation</a>
                                    </li>
                                    <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS">Executive</a></li>
                                    <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS">Professional</a></li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">CMA</a>
                                <ul class="mega-menu cma">
                                    <li>
                                        <h6 class="menu-title">CMA FINAL</h6>

                                        <h6 class="menu-title">Group III</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" >Corporate & Economic Laws (Paper 13)</a>
                                            </li>                                                                   
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" >Strategic Financial Management (Paper 14)</a></li>
                                            <li>                                                                   
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" >Direct Tax Laws & International Taxation (Paper 15)</a>
                                            </li>                                                                  
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" >Strategic Cost Management (Paper 16)</a></li>
                                        </ul>

                                        <h6 class="menu-title">Group IV</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" >Cost & Management Audit (Paper 17)</a>
                                            </li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" >Corporate Financial Reporting (Paper 18) </a></li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA" >Indirect Tax Laws & Practice (Paper 19)</a>
                                            </li>
                                        </ul>

                                        <h6 class="menu-title">Electives</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">
                                                    Strategic Performance Management & Business Valuation (Paper 20A)
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Risk Management in Banking & Insurance (Paper 20B)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">
                                                    Enterpreneurship and Startup (Paper
                                                    20C)
                                                </a>
                                            </li>
                                        </ul>
                                    </li>


                                    <li>
                                        <h6 class="menu-title">CMA INTER</h6>

                                        <h6 class="menu-title">Group I</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 13)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CMA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>

                                        <h6 class="menu-title">Group II</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 14)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CMA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CMA FOUNDATION</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            @foreach (var item in Model.Subjects)
                                            {
                                                if (item.CategoryId == 12)
                                                {
                                                    <li><a href="/Customer/Product?productCategory=CMA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a asp-area="Customer" asp-controller="Home" asp-action="Achivements">OUR ACHIEVEMENTS</a>
                            </li>

                            <li><a href="/#testimonial">TESTIMONIALS</a></li>

                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Contact">CONTACT US</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a></li>
                            }
                        </ul>
                    </nav>
                </div>

                <div class="header-right d-block d-lg-none">
                    <ul class="header-action">
                        <li class="mobile-menu-bar">
                            <button class="hamberger-button">
                                <i class="icon-54"></i>
                            </button>
                        </li>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @Model.UserName</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Login" class="bc" data-bs-toggle="tooltip" data-bs-placement="top" title="Login">
                                    <i class="fas fa-sign-in-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Register" class="bc" data-bs-toggle="tooltip" data-bs-placement="top" title="Register">
                                    <i class="fas fa-user-plus"></i>
                                </a>
                            </li>
                        }

                        

                        <li class="icon cart-icon">
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                <i class="icon-3"></i>
                                <span class="count">@Model.TotalCart</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="close-menu">
                    <button class="close-button">
                        <i class="icon-73"></i>
                    </button>
                </div>
            </div>
            <ul class="mainmenu">
                <li class="has-droupdown">
                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CA" >CA FINAL</a>
                    <ul class="mega-menu">
                        <li>
                            <h6 class="menu-title">CA FINAL</h6>

                            <h6 class="menu-title">CA FINAL GROUP 1</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 4)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA FINAL GROUP 2</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 5)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA FINAL FAST TRACK</h6>
                            <ul class="submenu mega-sub-menu-01">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 10)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CA">CA INTER / FOUNDATION</a>
                    <ul class="mega-menu foundation">
                        <li>
                            <h6 class="menu-title">CA INTER</h6>

                            <h6 class="menu-title">CA INTER GROUP 1</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 2)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA INTER GROUP 2</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 3)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA FOUNDATION</h6>
                            <ul class="submenu mega-sub-menu-01">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 1)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS" >CS</a>
                    <ul class="submenu">
                        <li>
                            <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS" >Foundation</a>
                        </li>
                        <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS" >Executive</a></li>
                        <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CS" >Professional</a></li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">CMA</a>
                    <ul class="mega-menu cma">
                        <li>
                            <h6 class="menu-title">CMA FINAL</h6>

                            <h6 class="menu-title">Group III</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Corporate & Economic Laws (Paper 13)</a>
                                </li>                                                                  
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Strategic Financial Management (Paper 14)</a></li>
                                <li>                                                                   
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Direct Tax Laws & International Taxation (Paper 15)</a>
                                </li>                                                                  
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Strategic Cost Management (Paper 16)</a></li>
                            </ul>

                            <h6 class="menu-title">Group IV</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Cost & Management Audit (Paper 17)</a>
                                </li>                                                                  
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Corporate Financial Reporting (Paper 18) </a></li>
                                <li>                                                                   
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Indirect Tax Laws & Practice (Paper 19)</a>
                                </li>
                            </ul>

                            <h6 class="menu-title">Electives</h6>
                            <ul class="submenu mega-sub-menu-01">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">
                                        Strategic Performance Management & Business Valuation (Paper 20A)
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">Risk Management in Banking & Insurance (Paper 20B)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index" asp-route-productCategory="CMA">
                                        Enterpreneurship and Startup (Paper
                                        20C)
                                    </a>
                                </li>
                            </ul>


                        </li>


                        <li>
                            <h6 class="menu-title">CMA INTER</h6>

                            <h6 class="menu-title">Group I</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 13)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CMA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>

                            <h6 class="menu-title">Group II</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 14)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CMA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CMA FOUNDATION</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                @foreach (var item in Model.Subjects)
                                {
                                    if (item.CategoryId == 12)
                                    {
                                        <li><a href="/Customer/Product?productCategory=CMA&Course=@item.CategoryId&Subject=@item.Id">@item.SubjectName</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Achivements">OUR ACHIEVEMENTS</a>
                </li>
                <li><a href="/#testimonial">TESTIMONIALS</a></li>
                <li><a asp-area="Customer" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
            </ul>
        </div>
    </div>

    <!-- Start Search Popup  -->
    <div class="edu-search-popup">
        <div class="content-wrap">
            <div class="site-logo">
                <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo" />
            </div>
            <div class="close-button">
                <button class="close-trigger"><i class="icon-73"></i></button>
            </div>
            <div class="inner">
                <form class="search-form" action="#">
                    <input type="text" class="edublink-search-popup-field" placeholder="Search Here..." />
                    <button class="submit-button"><i class="icon-2"></i></button>
                </form>
            </div>
        </div>
    </div>

</div>