@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model NavigationVM


<div class="edu-header header-style-1 header-fullwidth">
    <div class="header-top-bar d-none d-lg-block bg-lighten04">
        <div class="container-fluid">
            <div class="header-top">
                <div class="header-top-left">
                    <ul class="header-info">
                        <li>
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index">
                                <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo" />
                                <p class="tagline">Study from the Best CA Gurus !</p>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header-top-center wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Search Here....." />
                        <button type="submit" class="searchButton">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="header-top-right">
                    <ul class="header-info">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @Model.UserName</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="btn btn-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-area="Identity" asp-controller="Account" asp-action="Login"
                                   class="bc"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="Login">
                                    <i class="fas fa-sign-in-alt"></i>
                                </a>
                            </li>
                            <li>
                                <a asp-area="Identity" asp-controller="Account" asp-action="Register"
                                   class="bc"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="Register">
                                    <i class="fas fa-user-plus"></i>
                                </a>
                            </li>
                        }
                        <li>
                            @* CArt ITEM *@
                            <a style="position: relative" asp-area="Customer" asp-controller="Cart" asp-action="Index"
                               class="bc"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="View Cart">
                                <i class="icon-3"></i> 
                                <span  style="width: 30px; height: 30px; position: absolute; background-color: black; display: flex; justify-content: center; align-items: center; top: -15px; right: -15px; border-radius: 50%; color: white; font-weight: bold;"  >
                                    @Model.TotalCart
                                </span>
                            </a>
                        </li>

                        @* <li class="social-icon">
                            <a href="@Model.SosalMedia.Facebook" target="_blank"><i class="icon-facebook"></i></a>
                            <a href="@Model.SosalMedia.Instagram" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="@Model.SosalMedia.Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="@Model.SosalMedia.LinkedIn" target="_blank"><i class="icon-linkedin2"></i></a>
                        </li> *@
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="edu-sticky-placeholder"></div>

    <div class="header-mainmenu">
        <div class="container-fluid">
            <div class="header-navbar">
                <div class="header-brand d-block d-lg-none">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo" />
                            <p class="tagline">Study from the Best CA Gurus !</p>
                        </a>
                    </div>
                </div>

                <div class="header-mainnav">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="has-droupdown">
                                <a href="javascript:void()">CA FINAL</a>
                                <ul class="mega-menu">
                                    <li>
                                        <h6 class="menu-title">CA FINAL</h6>

                                        <h6 class="menu-title">CA FINAL GROUP 1</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial Reporting</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">AFM</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Auditing & Professional Ethics</a></li>
                                        </ul>
                                    </li>


                                    <li>
                                        <h6 class="menu-title">CA FINAL GROUP 2</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct Tax Laws & International Taxation</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Indirect Tax Laws</a></li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Integrated Business Solution</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA FINAL FAST TRACK</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">FRM</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">AFM</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Audit</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct Tax</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Indirect Tax</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Combos</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a href="javascript:void()">CA INTER / FOUNDATION</a>
                                <ul class="mega-menu foundation">
                                    <li>
                                        <h6 class="menu-title">CA INTER</h6>

                                        <h6 class="menu-title">CA INTER GROUP 1</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Advanced Accounting</a>
                                            </li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate Law</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Taxation</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Group 1 Combo</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA INTER GROUP 2</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Cost & Management Accounting</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Auditing & Ethics</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">FM SM</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Group 2 Combo</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CA FOUNDATION</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Accounting</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Laws</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Quantitative Aptitude</a></li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Economics</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a href="javascript:void()">CS</a>
                                <ul class="submenu">
                                    <li>
                                        <a asp-area="Customer" asp-controller="Product" asp-action="Index">Foundation</a>
                                    </li>
                                    <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Executive</a></li>
                                    <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Professional</a></li>
                                </ul>
                            </li>

                            <li class="has-droupdown">
                                <a href="javascript:void()">CMA</a>
                                <ul class="mega-menu cma">
                                    <li>
                                        <h6 class="menu-title">CMA FINAL</h6>

                                        <h6 class="menu-title">Group III</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate & Economic Laws (Paper 13)</a>
                                            </li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Strategic Financial Management (Paper 14)</a></li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct Tax Laws & International Taxation (Paper 15)</a>
                                            </li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Strategic Cost Management (Paper 16)</a></li>
                                        </ul>

                                        <h6 class="menu-title">Group IV</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Cost & Management Audit (Paper 17)</a>
                                            </li>
                                            <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate Financial Reporting (Paper 18) </a></li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Indirect Tax Laws & Practice (Paper 19)</a>
                                            </li>
                                        </ul>

                                        <h6 class="menu-title">Electives</h6>
                                        <ul class="submenu mega-sub-menu-01">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">
                                                    Strategic Performance Management & Business Valuation (Paper 20A)
                                                </a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Risk Management in Banking & Insurance (Paper 20B)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">
                                                    Enterpreneurship and Startup (Paper
                                                    20C)
                                                </a>
                                            </li>
                                        </ul>


                                    </li>


                                    <li>
                                        <h6 class="menu-title">CMA INTER</h6>

                                        <h6 class="menu-title">Group I</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Laws & Ethics (Paper 5)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial Accounting (Paper 6)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct & Indirect Taxation (Paper 7)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Cost Accounting (Paper 8)</a>
                                            </li>
                                        </ul>

                                        <h6 class="menu-title">Group II</h6>
                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Oparations Management & Strategic Management (Paper 9)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate Accounting and Auditing (Paper 10)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial Management & Data Analytics (Paper 11)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Mgmt Accounting (Paper 12)</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <h6 class="menu-title">CMA FOUNDATION</h6>

                                        <ul class="submenu mega-sub-menu-01 mb-4">
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Law & Comm (Paper 1)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial & Cost Accounting (Paper 2)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Maths & Stats (Paper 3)</a>
                                            </li>
                                            <li>
                                                <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Economics & Mgmt (Paper 4)</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a asp-area="Customer" asp-controller="Home" asp-action="Achivements">OUR ACHIVEMENTS</a>
                            </li>

                            <li><a href="#testimonial">TESTIMONIALS</a></li>

                            <li><a asp-area="Customer" asp-controller="Home" asp-action="Contact">CONTACT US</a></li>

                            <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="header-right d-block d-lg-none">
                    <ul class="header-action">
                        <li class="mobile-menu-bar">
                            <button class="hamberger-button">
                                <i class="icon-54"></i>
                            </button>
                        </li>

                        <li class="icon search-icon">
                            <a href="javascript:void(0)" class="search-trigger">
                                <i class="icon-2"></i>
                            </a>
                        </li>

                        <li>
                            <a href="login.html" class="bc" data-bs-toggle="tooltip" data-bs-placement="top" title="Login">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="register.html" class="bc" data-bs-toggle="tooltip" data-bs-placement="top" title="Register">
                                <i class="fas fa-user-plus"></i>
                            </a>
                        </li>

                        <li class="icon cart-icon">
                            <a href="cart.html">
                                <i class="icon-3"></i>
                                <span class="count">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-mobile-menu">
        <div class="inner">
            <div class="header-top">
                <div class="close-menu">
                    <button class="close-button">
                        <i class="icon-73"></i>
                    </button>
                </div>
            </div>
            <ul class="mainmenu">
                <li class="has-droupdown">
                    <a href="javascript:void()">CA FINAL</a>
                    <ul class="mega-menu">
                        <li>
                            <h6 class="menu-title">CA FINAL</h6>

                            <h6 class="menu-title">CA FINAL GROUP 1</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial Reporting</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">AFM</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Auditing & Professional Ethics</a></li>
                            </ul>
                        </li>


                        <li>
                            <h6 class="menu-title">CA FINAL GROUP 2</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct Tax Laws & International Taxation</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Indirect Tax Laws</a></li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Integrated Business Solution</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA FINAL FAST TRACK</h6>
                            <ul class="submenu mega-sub-menu-01">
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">FRM</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">AFM</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Audit</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct Tax</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Indirect Tax</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Combos</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a href="javascript:void()">CA INTER / FOUNDATION</a>
                    <ul class="mega-menu foundation">
                        <li>
                            <h6 class="menu-title">CA INTER</h6>

                            <h6 class="menu-title">CA INTER GROUP 1</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Advanced Accounting</a>
                                </li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate Law</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Taxation</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Group 1 Combo</a></li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA INTER GROUP 2</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Cost & Management Accounting</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Auditing & Ethics</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">FM SM</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Group 2 Combo</a></li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CA FOUNDATION</h6>
                            <ul class="submenu mega-sub-menu-01">
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Accounting</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Laws</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Quantitative Aptitude</a></li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Economics</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a href="javascript:void()">CS</a>
                    <ul class="submenu">
                        <li>
                            <a asp-area="Customer" asp-controller="Product" asp-action="Index">Foundation</a>
                        </li>
                        <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Executive</a></li>
                        <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Professional</a></li>
                    </ul>
                </li>

                <li class="has-droupdown">
                    <a href="javascript:void()">CMA</a>
                    <ul class="mega-menu cma">
                        <li>
                            <h6 class="menu-title">CMA FINAL</h6>

                            <h6 class="menu-title">Group III</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate & Economic Laws (Paper 13)</a>
                                </li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Strategic Financial Management (Paper 14)</a></li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct Tax Laws & International Taxation (Paper 15)</a>
                                </li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Strategic Cost Management (Paper 16)</a></li>
                            </ul>

                            <h6 class="menu-title">Group IV</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Cost & Management Audit (Paper 17)</a>
                                </li>
                                <li><a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate Financial Reporting (Paper 18) </a></li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Indirect Tax Laws & Practice (Paper 19)</a>
                                </li>
                            </ul>

                            <h6 class="menu-title">Electives</h6>
                            <ul class="submenu mega-sub-menu-01">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">
                                        Strategic Performance Management & Business Valuation (Paper 20A)
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Risk Management in Banking & Insurance (Paper 20B)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">
                                        Enterpreneurship and Startup (Paper
                                        20C)
                                    </a>
                                </li>
                            </ul>


                        </li>


                        <li>
                            <h6 class="menu-title">CMA INTER</h6>

                            <h6 class="menu-title">Group I</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Laws & Ethics (Paper 5)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial Accounting (Paper 6)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Direct & Indirect Taxation (Paper 7)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Cost Accounting (Paper 8)</a>
                                </li>
                            </ul>

                            <h6 class="menu-title">Group II</h6>
                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Oparations Management & Strategic Management (Paper 9)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Corporate Accounting and Auditing (Paper 10)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial Management & Data Analytics (Paper 11)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Mgmt Accounting (Paper 12)</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <h6 class="menu-title">CMA FOUNDATION</h6>

                            <ul class="submenu mega-sub-menu-01 mb-4">
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Law & Comm (Paper 1)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Financial & Cost Accounting (Paper 2)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Maths & Stats (Paper 3)</a>
                                </li>
                                <li>
                                    <a asp-area="Customer" asp-controller="Product" asp-action="Index">Business Economics & Mgmt (Paper 4)</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="our-achivements.html">OUR ACHIVEMENTS</a>
                </li>

                <li><a href="#testimonial">TESTIMONIALS</a></li>

                <li><a href="contact.html">CONTACT US</a></li>
            </ul>
        </div>
    </div>

    <!-- Start Search Popup  -->
    <div class="edu-search-popup">
        <div class="content-wrap">
            <div class="site-logo">
                <img class="logo-light" src="~/images/logo/topclasses.png" alt="topclasses Logo" />
            </div>
            <div class="close-button">
                <button class="close-trigger"><i class="icon-73"></i></button>
            </div>
            <div class="inner">
                <form class="search-form" action="#">
                    <input type="text" class="edublink-search-popup-field" placeholder="Search Here..." />
                    <button class="submit-button"><i class="icon-2"></i></button>
                </form>
            </div>
        </div>
    </div>

</div>